/* Custom Stylesheet */
/**
 *
 * Made By Joash Pereira
 * Thanks for MaterializeCSS.com
 */

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    /*.navbar .dropdown:hover .nav-link{ color: #fff;  }*/
    .navbar .dropdown:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.navbar-nav>li:focus, .navbar-nav>li:hover {
        background-color: transparent !important;
  }

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: transparent !important;
}


.default_color{background-color: #AF3164 !important}

.default_color_text{color: #AF3164 !important}intro

.icon-block {
    padding: 0 15px;
}

#intro, #work, #team {padding-top: 4rem;}

#index-banner {
    min-height: 250px;
    max-height: 350px;
    position: relative;
    background-color: #935F79;
/*    background-image: url(img/"girls2.jpeg")*/
    opacity: 0.4;
}

#nav_f{
    /*box-shadow: none !important;-->
    -webkit-box-shadow:none !important;*/
    position: fixed;
    z-index: 999;
}

#nav_f.scrollActive{
    background-color: blue;
}

.text_h {
    padding: 15% 0;
    font-size: 4.5em;
    font-weight: 100;
    color:#7a1a47;
}

.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.span_h2 {font-weight: 300;color: #AF3164;}

.text_b{color: #AF3164;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
    color: #AF3164;
    font-size: 7rem;
    display: block;
}
.card-content a {color: #AF3164;}

.card-content a:hover {color: #AF3164;}

#work, #team{background: rgb(247, 247, 247);}

.text_pink{color:#EF9A9A;}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #AF3164;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1200; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav li.button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
 /*     background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;*/
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

/*.card-avatar {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 300px;
  height: 300px;
}*/

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 14px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

body {
  padding: 50px;
}

  .card {
    position: relative;
/*    width: 300px;
    height: 375px;*/
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 100px;
    -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
          -o-transition: all .25s;
            transition: all .25s;
  }
  .card .card__image img {
    width: 300px;
    height: 375px;
    -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
          -o-transition: all .25s;
            transition: all .25s;
  }
  .card::before, .card::after {
    position: absolute;
    content: '';
    left: -10px;
    -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
          -o-transition: all .25s;
            transition: all .25s;
  }
  .card::before {
    width: 1px;
    height: 100%;
    top: 10px;
  }
  .card::after {
    width: 100%;
    height: 1px;
    bottom: -10px;
  }
  .card.pink::before, .card.pink::after {
    background: #DC3264;
  }


.container {
/*  border: 3px solid blue;*/
  padding: 20px 40px 40px;
  max-width: 640px;
}
.container__image {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin: 20px 30px 0 0;
}
.container__text {
  display: inline-block;
  width: 46%;
}
@media (max-width: 620px) {
  .container__text {
    width: 100%;
  }
}